$extradata_color: peachpuff;

%tempNum-shared{
    margin: 0;
        font-size: 35px;
        color: $extradata_color;
}

.weather-hourly{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    h2{color: #fff;}
}

.hourly-block{
    width: 100%;
    text-align: center;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: 0;
    padding: 0;
    list-style: none;
    &__list{
        border: 1px solid white;
        border-radius: 5px;
        padding: 10px;
    }
    &__time{
        color:#fff;
        font-size: 20px;
    }
   
    &__pop{
        font-size: 17px;
        color: $extradata_color;
        margin-bottom: 0;
    }
    &__temp{
        @extend %tempNum-shared;
        
    }
}

// @media(max-width:767px){
//     .hourly-block{
//         flex-direction: column;
//     }
// }