$extradata_color: peachpuff;

%tempNum-shared{
    margin: 0;
        font-size: 35px;
        color: $extradata_color;
}

.weather-hourly{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    h2{color: #fff;}
}

.hourly-block{
    display: flex;
    justify-content: space-around;
    text-align: center;
    &__time{
        color:#fff;
        font-size: 20px;
    }
   
    &__pop{
        font-size: 17px;
        color: $extradata_color;
        margin-bottom: 0;
    }
    &__temp{
        @extend %tempNum-shared;
        
    }
}