%cardDaily_shared{
    display: flex;
    justify-content: space-around;
}
.weather-daily{
    // width: 100%;
    // border-radius: 6px;
    // box-shadow: 0 0 12px 0 rgba(0,0,0,.2);
    // margin-bottom: 40px;
    // background-color: rgba(205, 214, 219, 0.3);
    // padding: 20px;
    h2{color: #fff;} 
    p{
        margin: 0;
    }
    &__card{
        display: flex;
        flex-direction: column;
    }
    &__box-temp{
        @extend %cardDaily_shared;
        margin-bottom: 1.5em;
    }
    &__box-extradata{
        @extend %cardDaily_shared;
    }
}