.footer{
    display: flex;
    background: #18363d73;
    width: 100%;
    padding: 10px;
    color: #71aef8;
    font-size: 20px;
    // &__link{
    //     // margin: 10px;
    //     // padding: 10px 0;
    // }
    &__link span{
        margin-right: 20px;
        
    }
    &__link a img{
       padding: 10px 0;
    }
    
    &__link a img:hover{
        width: 60px;
        padding: 0;
    }
    &__apiLink img{
        width: 200px;
    }
    &__apiLink{
        display: flex;
        align-items: flex-end;
    }
    &__apiLink span{
        margin-right: 20px;
    }
}