body{
  background: rgb(252,70,107);
background: linear-gradient(0deg, rgba(252,70,107,1) 0%, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
}
.app {
  /* text-align: center;
  display: flex;
  justify-content: center; */
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.app__main{
  max-width: 800px;
  border-radius: 6px;
  box-shadow: 0 0 12px 0 rgba(0,0,0,.2);
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.app__header {
  
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pp-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
